/* Reset de estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Estilos globales */
  body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background-color: #f1f1f1;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  /* Estilos del encabezado */
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
    background-color: #333;
    color: #fff;
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  .navbar {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .nav-link {
    margin-left: 30px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
  }
  
  /* Estilos de la sección de géneros */
  .genre-section {
    padding: 40px 0;
  }
  
  .genre-title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
  }
  
  .genre-slider {
    margin-top: 20px;
    overflow-x: auto;
    white-space: nowrap;
  }
  
  .slider-container {
    display: inline-flex;
    margin-right: -10px;
  }
  
  .slider {
    scroll-snap-align: start;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  
  .slider::-webkit-scrollbar {
    display: none;
  }
  
  .movie-card {
    margin-right: 10px;
    
  }
  
  .movie-card a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: #333;
  }
  
  .movie-card img {
    display: block;
    width: 100px;
    height: 150px;
    object-fit: cover;
    margin-bottom: 10px;
    
  }
  
  .movie-card h3 {
    font-size: 16px;
    font-weight: bold;
  }
  
  /* Estilos del pie de página */
  .footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
  }
  
  .footer p {
    font-size: 14px;
  }
  
  .footer a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
  }
  h2 {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  